In [95]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [96]:
file_1 = pd.read_csv('data/SeLoger Search Export_20230410_1736.csv')
file_2 = pd.read_csv('data/SeLoger Search Export_20230411_0720.csv')
file_3 = pd.read_csv('data/SeLoger Search Export_20230412_0815.csv')
file_4 = pd.read_csv('data/SeLoger Search Export_20230413_0813.csv')

data = pd.concat([file_1, file_2, file_3, file_4], axis = 0)

df = data.copy()

df.shape

(2762, 52)

In [97]:
pd.set_option('display.max_column',52)
df.head(3)

,id,object,annonce_id,agency_id,agency_page,agency_contact_name,agency_img_url,agency_phone_number,agency_has_email,agency_link,address,area,bedrooms_count,business_unit,contact_is_private_seller,contact_email,description,district,estate_type,estate_type_id,highlighting_level,insee_code,is_exclusive,is_redirected,is_expired,latitude,longitude,monthly_price,main_picture,nature,postal_code,position,picture_count,price,price_per_meter,photos,price_decrease_percent,publication_id,pricing_price_note,ref,rooms,short_description,transaction_type,title,tags,url,video_url,virtual_visit_url,collected_at,input_url,input_max_pages,input_annonce_details
0,3204208,result,200749259,193229,/professionnels/agences-immobilieres/lyon-3eme...,Keller Williams Abondance,https://v.seloger.com/s/width/150/logos/0/t/u/...,07 69 27 36 43,t,http://abondance.kwimmo.fr/,Lyon 1er,18.999023,0,1,f,t,NaN,Croix Paquet,Studio,1,1,NaN,t,NaN,f,NaN,NaN,888,NaN,1,69001,10,7,175000,9211.0,https://v.seloger.com/s/crop/341x256/visuels/1...,NaN,30193229,NaN,NaN,1,Appartement à vendre - Studio- 1 pièce - 19 m²...,2,NaN,"1 pièce, 19 m²",https://www.seloger.com/annonces/achat/apparte...,NaN,https://my.matterport.com/show/?m=cQpwASrd8FN,10 Apr 2023 05:31:38,https://www.seloger.com/list.htm?projects=2&ty...,398,f
1,3204327,result,200717021,501690,/professionnels/agents-commerciaux/ecully-6913...,Laura NOUACER consultant megAgence,https://v.seloger.com/s/width/150/logos/1/r/2/...,06 21 90 58 87,t,https://www.megagence.com/votre-consultant/nou...,Lyon 7ème,19.000000,0,1,f,t,NaN,La Guillotière Sud,Studio,1,1,NaN,f,NaN,f,NaN,NaN,678,NaN,1,69007,9,7,133000,7000.0,https://v.seloger.com/s/crop/341x256/visuels/1...,NaN,30501690,NaN,NaN,1,Appartement à vendre - Je vous présente ce stu...,2,NaN,"1 pièce, 19 m², Étage 6/7, Garage",https://www.seloger.com/annonces/achat/apparte...,NaN,NaN,10 Apr 2023 05:34:56,https://www.seloger.com/list.htm?projects=2&ty...,398,f
2,3204123,result,200778063,102657,/professionnels/agences-immobilieres/lyon-3eme...,HAPI IMMOBILIER,https://v.seloger.com/s/width/150/logos/1/t/v/...,06 80 24 69 31,t,http://www.groupe-hapi.com/,Lyon 6ème,38.999506,0,1,f,t,NaN,NaN,Appartement,1,3,NaN,f,NaN,f,NaN,NaN,1199,NaN,1,69006,14,2,237000,6077.0,https://v.seloger.com/s/crop/341x256/visuels/1...,NaN,30102657,NaN,NaN,2,Appartement de luxe à vendre - EXCEPTIONNEL BA...,8,NaN,"2 pièces, 1 chambre, 39 m², Étage 2/0, Balcon,...",https://www.seloger.com/annonces/achat-de-pres...,NaN,NaN,10 Apr 2023 05:29:33,https://www.seloger.com/list.htm?projects=2&ty...,398,f

In [98]:
df = df.drop(['id','object', 'annonce_id', 'agency_id', 'agency_page', 'agency_contact_name', 'agency_img_url',
        'agency_phone_number', 'agency_has_email', 'agency_link', 'contact_email', 'description', 'is_redirected',
        'is_expired', 'latitude', 'longitude', 'picture_count', 'photos', 'price_decrease_percent', 'publication_id',
        'pricing_price_note', 'ref', 'title', 'url', 'video_url', 'virtual_visit_url', 'collected_at', 'input_url',
        'input_max_pages', 'input_annonce_details','main_picture','transaction_type', 'short_description', 
             'price_per_meter', 'is_exclusive', 'monthly_price', 'nature', 'estate_type_id', 
              'highlighting_level', 'address', 'bedrooms_count','rooms', 'contact_is_private_seller','business_unit'
              , 'insee_code','position'],
             axis = 1)
df.shape

(2762, 6)

In [99]:
df = df.drop_duplicates().reset_index()

In [100]:
df = df.drop(['index'], axis = 1)
df.tail()

,area,district,estate_type,postal_code,price,tags
1003,66.995226,Part Dieu,Appartement,69003,435000,"3 pièces, 2 chambres, 67 m², Étage 6/7, Balcon..."
1004,62.997347,Les Brotteaux-Bellecombe-Masséna,Appartement neuf,69006,475000,"3 pièces, 2 chambres, 63 m², Étage 1/5, Balcon..."
1005,87.997649,Champvert-Point du Jour-Saint Irénée,Appartement,69005,599000,"4 pièces, 3 chambres, 88 m², Étage 1/–, Terras..."
1006,110.059172,États-Unis,Appartement,69008,223200,"5 pièces, 4 chambres, 110 m², Étage 11/14, Gar..."
1007,79.746835,Gerland,Appartement,69007,315000,"3 pièces, 2 chambres, 80 m², Étage 4/4"

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   area         1004 non-null   float64
 1   district     781 non-null    object
 2   estate_type  1008 non-null   object
 3   postal_code  1008 non-null   int64
 4   price        1008 non-null   int64
 5   tags         1008 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 47.4+ KB

In [102]:
#splitting the 'tags' column
#what are all the unique features we can find in it

tag_words = ''
for data in df['tags']:
    tag_words = tag_words + data + ","

unique = []
for word in tag_words.split(","):
    if word not in unique:
        unique.append(word)
        
unique.sort(reverse=True)
print(unique)

['9 pièces', '8 pièces', '7 pièces', '6 pièces', '5 pièces', '4 pièces', '3 pièces', '2 pièces', '1 pièce', '0 pièce', ' – m²', ' Étage –/6', ' Étage –/5', ' Étage –/1', ' Étage –/0', ' Étage 9/–', ' Étage 9/9', ' Étage 9/26', ' Étage 9/15', ' Étage 9/13', ' Étage 9/12', ' Étage 9/11', ' Étage 9/10', ' Étage 8/–', ' Étage 8/9', ' Étage 8/8', ' Étage 7/–', ' Étage 7/9', ' Étage 7/8', ' Étage 7/7', ' Étage 7/4', ' Étage 7/11', ' Étage 7/0', ' Étage 6/–', ' Étage 6/9', ' Étage 6/8', ' Étage 6/7', ' Étage 6/6', ' Étage 6/13', ' Étage 6/10', ' Étage 5/–', ' Étage 5/9', ' Étage 5/8', ' Étage 5/7', ' Étage 5/6', ' Étage 5/5', ' Étage 5/14', ' Étage 5/11', ' Étage 5/0', ' Étage 4/–', ' Étage 4/9', ' Étage 4/8', ' Étage 4/7', ' Étage 4/6', ' Étage 4/5', ' Étage 4/4', ' Étage 4/2', ' Étage 4/14', ' Étage 4/10', ' Étage 4/0', ' Étage 3/–', ' Étage 3/8', ' Étage 3/7', ' Étage 3/6', ' Étage 3/5', ' Étage 3/4', ' Étage 3/3', ' Étage 3/11', ' Étage 3/10', ' Étage 3/0', ' Étage 2/–', ' Étage 2/9', ' Étage 2/8', ' Étage 2/7', ' Étage 2/6', ' Étage 2/5', ' Étage 2/4', ' Étage 2/3', ' Étage 2/2', ' Étage 2/12', ' Étage 2/11', ' Étage 2/0', ' Étage 15/–', ' Étage 14/15', ' Étage 14/14', ' Étage 12/16', ' Étage 12/0', ' Étage 11/–', ' Étage 11/14', ' Étage 10/13', ' Étage 1/–', ' Étage 1/9', ' Étage 1/8', ' Étage 1/7', ' Étage 1/6', ' Étage 1/5', ' Étage 1/4', ' Étage 1/3', ' Étage 1/2', ' Étage 1/10', ' Étage 1/1', ' Étage 1/0', ' Étage 0/–', ' Étage 0/8', ' Étage 0/7', ' Étage 0/6', ' Étage 0/5', ' Étage 0/4', ' Étage 0/3', ' Étage 0/2', ' Étage 0/1', ' Étage 0/0', ' Viager libre', ' Terrasse', ' Piscine', ' Parking', ' Jardin', ' Garage', ' Box', ' Balcon', ' Ascenseur', ' 99 m²', ' 98 m²', ' 97 m²', ' 96 m²', ' 95 m²', ' 94 m²', ' 93 m²', ' 92 m²', ' 91 m²', ' 90 m²', ' 89 m²', ' 88 m²', ' 87 m²', ' 86 m²', ' 85 m²', ' 84 m²', ' 83 m²', ' 82 m²', ' 81 m²', ' 80 m²', ' 8 m²', ' 79 m²', ' 78 m²', ' 77 m²', ' 76 m²', ' 75 m²', ' 74 m²', ' 73 m²', ' 72 m²', ' 71 m²', ' 70 m²', ' 69 m²', ' 68 m²', ' 67 m²', ' 66 m²', ' 65 m²', ' 64 m²', ' 63 m²', ' 62 m²', ' 61 m²', ' 60 m²', ' 59 m²', ' 58 m²', ' 57 m²', ' 56 m²', ' 55 m²', ' 54 m²', ' 53 m²', ' 52 m²', ' 51 m²', ' 50 m²', ' 5 chambres', ' 49 m²', ' 48 m²', ' 47 m²', ' 46 m²', ' 45 m²', ' 44 m²', ' 43 m²', ' 42 m²', ' 41 m²', ' 40 m²', ' 4 chambres', ' 39 m²', ' 38 m²', ' 37 m²', ' 36 m²', ' 35 m²', ' 34 m²', ' 33 m²', ' 32 m²', ' 317 m²', ' 31 m²', ' 30 m²', ' 3 chambres', ' 3 balcons', ' 29 m²', ' 28 m²', ' 27 m²', ' 26 m²', ' 25 m²', ' 240 m²', ' 24 m²', ' 231 m²', ' 23 m²', ' 225 m²', ' 22 m²', ' 216 m²', ' 21 m²', ' 20 m²', ' 2 chambres', ' 2 balcons', ' 198 m²', ' 194 m²', ' 190 m²', ' 19 m²', ' 189 m²', ' 188 m²', ' 184 m²', ' 183 m²', ' 181 m²', ' 180 m²', ' 18 m²', ' 179 m²', ' 175 m²', ' 171 m²', ' 170 m²', ' 17 m²', ' 167 m²', ' 166 m²', ' 163 m²', ' 162 m²', ' 160 m²', ' 16 m²', ' 159 m²', ' 158 m²', ' 157 m²', ' 156 m²', ' 155 m²', ' 153 m²', ' 150 m²', ' 15 m²', ' 148 m²', ' 145 m²', ' 143 m²', ' 141 m²', ' 14 m²', ' 139 m²', ' 137 m²', ' 136 m²', ' 135 m²', ' 134 m²', ' 133 m²', ' 132 m²', ' 131 m²', ' 130 m²', ' 129 m²', ' 128 m²', ' 126 m²', ' 125 m²', ' 124 m²', ' 123 m²', ' 122 m²', ' 121 m²', ' 120 m²', ' 119 m²', ' 118 m²', ' 116 m²', ' 115 m²', ' 114 m²', ' 113 m²', ' 112 m²', ' 111 m²', ' 110 m²', ' 11 m²', ' 11 balcons', ' 109 m²', ' 108 m²', ' 107 m²', ' 106 m²', ' 105 m²', ' 104 m²', ' 103 m²', ' 102 m²', ' 101 m²', ' 100 m²', ' 10 m²', ' 1 chambre', '']

In [103]:
#list of the features we can find in 'tags'
#rooms and area are already in the data, so I do not keep them here

features = {'pièce': 'rooms', 'chambre' : 'bedrooms', 'balcon':'balcony', 'ascenseur':'elevator', 
                 'terrasse':'terrace', "étage" : 'floor', 'jardin' : "garden", 
                 'garage' : 'garage','parking' : 'parking_spot', 'box' : 'box' }


def split_column(features, dataframe, column_to_split ):
    
    for key in features :
        list_temp = []

        for data in dataframe[column_to_split] :

                if key.lower() in data.lower() :
                    splited_data = data.split(",")
                    
                    for element in splited_data:
                        
                        if key.lower() in element.lower():
                            list_temp.append(element)
                else :
                    list_temp.append(None)
        dataframe[features[key]] = list_temp

In [104]:
split_column(features, df, 'tags')

In [105]:
df = df.drop(['tags'], axis = 1)

In [106]:
df.tail(3)

,area,district,estate_type,postal_code,price,rooms,bedrooms,balcony,elevator,terrace,floor,garden,garage,parking_spot,box
1005,87.997649,Champvert-Point du Jour-Saint Irénée,Appartement,69005,599000,4 pièces,3 chambres,None,Ascenseur,Terrasse,Étage 1/–,None,None,Parking,None
1006,110.059172,États-Unis,Appartement,69008,223200,5 pièces,4 chambres,None,Ascenseur,None,Étage 11/14,None,Garage,None,None
1007,79.746835,Gerland,Appartement,69007,315000,3 pièces,2 chambres,None,None,None,Étage 4/4,None,None,None,None

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          1004 non-null   float64
 1   district      781 non-null    object
 2   estate_type   1008 non-null   object
 3   postal_code   1008 non-null   int64
 4   price         1008 non-null   int64
 5   rooms         1008 non-null   object
 6   bedrooms      885 non-null    object
 7   balcony       373 non-null    object
 8   elevator      635 non-null    object
 9   terrace       205 non-null    object
 10  floor         899 non-null    object
 11  garden        50 non-null     object
 12  garage        88 non-null     object
 13  parking_spot  185 non-null    object
 14  box           208 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 118.2+ KB

In [108]:
#creating 3 categories of floor
#Ground floor, Last floor, or Neither

list_floor = []

for floor in df['floor'] :
    
    if floor == None :
        list_floor.append('Other')
    elif (str(floor.replace('Étage ',''))[1] == '0'):
        list_floor.append('Ground Floor')
    elif (str(floor.replace('Étage ',''))[1] == str(floor.replace('Étage ',''))[3]) :
        list_floor.append('Last Floor')
    else :
        list_floor.append('Other')

        
df['floor'] = list_floor 

df['floor'].value_counts(normalize=True)

Other           0.778770
Last Floor      0.115079
Ground Floor    0.106151
Name: floor, dtype: float64

In [109]:
df.head(2)

,area,district,estate_type,postal_code,price,rooms,bedrooms,balcony,elevator,terrace,floor,garden,garage,parking_spot,box
0,18.999023,Croix Paquet,Studio,69001,175000,1 pièce,None,None,None,None,Other,None,None,None,None
1,19.000000,La Guillotière Sud,Studio,69007,133000,1 pièce,None,None,None,None,Other,None,Garage,None,None

In [110]:
df['area'] = df['area'].values.round()

In [111]:
#I want to use this column to know if the flat is new or not

list_new = []

for estate_type in df['estate_type']:
    if 'neuf' in estate_type.lower() :
        list_new.append(True)
    else : 
        list_new.append(False)
        
df['new_flat'] = list_new

In [112]:
df = df.drop(['estate_type'], axis = 1)

In [113]:
df['new_flat'].value_counts(normalize=True)

False    0.869048
True     0.130952
Name: new_flat, dtype: float64

In [114]:
df.head(2)

,area,district,postal_code,price,rooms,bedrooms,balcony,elevator,terrace,floor,garden,garage,parking_spot,box,new_flat
0,19.0,Croix Paquet,69001,175000,1 pièce,None,None,None,None,Other,None,None,None,None,False
1,19.0,La Guillotière Sud,69007,133000,1 pièce,None,None,None,None,Other,None,Garage,None,None,False

In [115]:
df['bedrooms'] = df['bedrooms'].fillna(' 0 chambre')

In [116]:
#list of all features I will keep on True/False option

list_t_f_features = ['balcony', 'elevator', 'garden', 'terrace', 'garage', 'box', 'parking_spot']

def true_false(dataframe, column) :
    dataframe[column] = dataframe[column].notnull().astype(bool)
    dataframe[column] = dataframe[column].fillna(False)

In [117]:
for features in list_t_f_features :
    true_false(df, features)

In [118]:
#merging box and garage
df['garage'] = df['garage'] | df['box'] 

df = df.drop(['box'], axis = 1)

In [119]:
df

,area,district,postal_code,price,rooms,bedrooms,balcony,elevator,terrace,floor,garden,garage,parking_spot,new_flat
0,19.0,Croix Paquet,69001,175000,1 pièce,0 chambre,False,False,False,Other,False,False,False,False
1,19.0,La Guillotière Sud,69007,133000,1 pièce,0 chambre,False,False,False,Other,False,True,False,False
2,39.0,NaN,69006,237000,2 pièces,1 chambre,True,True,True,Other,False,False,False,False
3,99.0,Montchat,69003,755000,5 pièces,4 chambres,True,True,False,Other,False,True,False,False
4,48.0,Montchat,69003,220000,2 pièces,1 chambre,True,False,True,Ground Floor,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,67.0,Part Dieu,69003,435000,3 pièces,2 chambres,True,True,False,Other,False,False,True,False
1004,63.0,Les Brotteaux-Bellecombe-Masséna,69006,475000,3 pièces,2 chambres,True,False,True,Other,False,True,True,True
1005,88.0,Champvert-Point du Jour-Saint Irénée,69005,599000,4 pièces,3 chambres,False,True,True,Other,False,False,True,False
1006,110.0,États-Unis,69008,223200,5 pièces,4 chambres,False,True,False,Other,False,True,False,False
1007,80.0,Gerland,69007,315000,3 pièces,2 chambres,False,False,False,Last Floor,False,False,False,False

In [120]:
#area and district have missing data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          1004 non-null   float64
 1   district      781 non-null    object
 2   postal_code   1008 non-null   int64
 3   price         1008 non-null   int64
 4   rooms         1008 non-null   object
 5   bedrooms      1008 non-null   object
 6   balcony       1008 non-null   bool
 7   elevator      1008 non-null   bool
 8   terrace       1008 non-null   bool
 9   floor         1008 non-null   object
 10  garden        1008 non-null   bool
 11  garage        1008 non-null   bool
 12  parking_spot  1008 non-null   bool
 13  new_flat      1008 non-null   bool
dtypes: bool(7), float64(1), int64(2), object(4)
memory usage: 62.1+ KB

In [121]:
#area has very few missing data, I can drop those few rows
df = df.dropna(subset=['area'])

In [130]:
df = df.loc[df['rooms']!='0 pièce']

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003 entries, 0 to 1007
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          1003 non-null   float64
 1   district      776 non-null    object
 2   postal_code   1003 non-null   int64
 3   price         1003 non-null   int64
 4   rooms         1003 non-null   object
 5   bedrooms      1003 non-null   object
 6   balcony       1003 non-null   bool
 7   elevator      1003 non-null   bool
 8   terrace       1003 non-null   bool
 9   floor         1003 non-null   object
 10  garden        1003 non-null   bool
 11  garage        1003 non-null   bool
 12  parking_spot  1003 non-null   bool
 13  new_flat      1003 non-null   bool
dtypes: bool(7), float64(1), int64(2), object(4)
memory usage: 69.5+ KB

In [132]:
sorted_df = df.sort_values('postal_code')

In [133]:
sorted_df['district'].fillna(method='bfill', inplace = True)

In [134]:
sorted_df['district'].isna().sum().any()

False

In [135]:
df = sorted_df.sort_values('price').reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          1003 non-null   float64
 1   district      1003 non-null   object
 2   postal_code   1003 non-null   int64
 3   price         1003 non-null   int64
 4   rooms         1003 non-null   object
 5   bedrooms      1003 non-null   object
 6   balcony       1003 non-null   bool
 7   elevator      1003 non-null   bool
 8   terrace       1003 non-null   bool
 9   floor         1003 non-null   object
 10  garden        1003 non-null   bool
 11  garage        1003 non-null   bool
 12  parking_spot  1003 non-null   bool
 13  new_flat      1003 non-null   bool
dtypes: bool(7), float64(1), int64(2), object(4)
memory usage: 61.8+ KB

## End of Global Data Cleaning / Analysis

 ## Preprocessing

In [136]:
from sklearn.preprocessing import LabelEncoder

In [137]:
encoder = LabelEncoder()

In [138]:
for data in df[['balcony', 'elevator', 'terrace', 'garden', 'garage', 'parking_spot', 'new_flat']]:
    df[data] = encoder.fit_transform(df[data])

for data in df[['postal_code', 'district', 'rooms', 'bedrooms', 'floor']]:
    df = df.join(pd.get_dummies(df[data])).drop([data], axis = 1)

In [139]:
pd.set_option('display.max_column',52)
df.head()

,area,price,balcony,elevator,terrace,garden,garage,parking_spot,new_flat,69001,69002,69003,69004,69005,69006,69007,69008,69009,Bellecour-Ainay,Champvert-Point du Jour-Saint Irénée,Cordeliers-Célestins-Bourse,Croix Paquet,Croix Rousse-Centre,Croix Rousse-Gros Caillou,Fourvière-Saint Just,Gerland,...,Sans Souci-Dauphiné,Terreaux,Transvaal,Tête d'Or-Foch-Vitton,Vaise-Rochecardon-Industrie,Vieux Lyon,Villette,États-Unis,1 pièce,2 pièces,3 pièces,4 pièces,5 pièces,6 pièces,7 pièces,8 pièces,9 pièces,0 chambre,1 chambre,2 chambres,3 chambres,4 chambres,5 chambres,Ground Floor,Last Floor,Other
0,11.0,50000,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
1,8.0,52000,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,25.0,60000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
3,10.0,66000,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
4,18.0,69000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1

In [140]:
#since what is inside the flat seems more important than the location, I will only keep the district
df.drop([69001,69002,69003,69004,69005,69006,69007,69008,69009], axis = 1, inplace= True)

In [141]:
#the rooms and bedrooms are highly correlated, I will only keep the rooms as a feature

In [142]:
df.drop([' 1 chambre',' 2 chambres',' 3 chambres',' 4 chambres',' 5 chambres',' 0 chambre'], axis = 1, inplace = True)

In [143]:
pd.set_option('display.max_column',62)
df.head()

,area,price,balcony,elevator,terrace,garden,garage,parking_spot,new_flat,Bellecour-Ainay,Champvert-Point du Jour-Saint Irénée,Cordeliers-Célestins-Bourse,Croix Paquet,Croix Rousse-Centre,Croix Rousse-Gros Caillou,Fourvière-Saint Just,Gerland,Gorge du Loup-Champvert,Jean Macé,La Duchère,La Guillotière Nord,La Guillotière Sud,La Plaine,Laënnec-Mermoz,Le Grand Trou,Les Brotteaux-Bellecombe-Masséna,Monplaisir-Le Bachut,Montchat,Part Dieu,Perrache-Le Confluent,Plateau de la Croix Rousse-Ouest,Plateau de la Croix Rousse-Saône,Point du Jour-Ménival,Saint Rambert,Saint Vincent,Sans Souci-Dauphiné,Terreaux,Transvaal,Tête d'Or-Foch-Vitton,Vaise-Rochecardon-Industrie,Vieux Lyon,Villette,États-Unis,1 pièce,2 pièces,3 pièces,4 pièces,5 pièces,6 pièces,7 pièces,8 pièces,9 pièces,Ground Floor,Last Floor,Other
0,11.0,50000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0
1,8.0,52000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
2,25.0,60000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
3,10.0,66000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
4,18.0,69000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1

In [144]:
#normalize the price column
#df['price'] = np.log(df['price'] + 1)

In [145]:
#df['price'].hist(figsize=(10,5))

## Machine Learning Model

In [146]:
from sklearn.model_selection import train_test_split

In [147]:
seed = 0

In [148]:
X = df.drop(['price'], axis = 1)
y = df['price']

X_train, X_tmp, y_train, y_tmp = train_test_split(X, y, train_size=0.8, random_state=seed)
X_val, X_test, y_val, y_test = train_test_split(X_tmp, y_tmp, test_size=0.5, random_state=seed)

In [149]:
from sklearn.ensemble import RandomForestRegressor

In [150]:
r_forest = RandomForestRegressor()

r_forest.fit(X_train, y_train)
r_forest.score(X_val, y_val)

0.7693631553255998

In [151]:
r_forest.score(X_test, y_test)

0.792182290722445

In [152]:
df.head(2)

,area,price,balcony,elevator,terrace,garden,garage,parking_spot,new_flat,Bellecour-Ainay,Champvert-Point du Jour-Saint Irénée,Cordeliers-Célestins-Bourse,Croix Paquet,Croix Rousse-Centre,Croix Rousse-Gros Caillou,Fourvière-Saint Just,Gerland,Gorge du Loup-Champvert,Jean Macé,La Duchère,La Guillotière Nord,La Guillotière Sud,La Plaine,Laënnec-Mermoz,Le Grand Trou,Les Brotteaux-Bellecombe-Masséna,Monplaisir-Le Bachut,Montchat,Part Dieu,Perrache-Le Confluent,Plateau de la Croix Rousse-Ouest,Plateau de la Croix Rousse-Saône,Point du Jour-Ménival,Saint Rambert,Saint Vincent,Sans Souci-Dauphiné,Terreaux,Transvaal,Tête d'Or-Foch-Vitton,Vaise-Rochecardon-Industrie,Vieux Lyon,Villette,États-Unis,1 pièce,2 pièces,3 pièces,4 pièces,5 pièces,6 pièces,7 pièces,8 pièces,9 pièces,Ground Floor,Last Floor,Other
0,11.0,50000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0
1,8.0,52000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0

In [155]:
yo = np.array([15,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,
0,0,0,0,0,0,0,1])

print(len(yo))

yo = yo.reshape((1,-1))

54

In [156]:
r_forest.predict(yo)

/Users/pctest/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([119727.36])

In [53]:
import pickle

In [54]:
pickle.dump(r_forest, open('model.pk', 'wb'))